<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hoteltemp</display-name>
  <welcome-file-list>
    <welcome-file>trip.html</welcome-file>
    <welcome-file>user.jsp</welcome-file>
    <welcome-file>user.jsp</welcome-file>
    <welcome-file></welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calcustomerinfo</display-name>
    <servlet-name>Calcustomerinfo</servlet-name>
    <servlet-class>com.model.Calcustomerinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calcustomerinfo</servlet-name>
    <url-pattern>/cal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calroomdetail</display-name>
    <servlet-name>Calroomdetail</servlet-name>
    <servlet-class>com.model.Calroomdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calroomdetail</servlet-name>
    <url-pattern>/Calroomdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fdpage</display-name>
    <servlet-name>Fdpage</servlet-name>
    <servlet-class>com.feedback.Fdpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fdpage</servlet-name>
    <url-pattern>/Fdpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.model.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calcabinfo</display-name>
    <servlet-name>Calcabinfo</servlet-name>
    <servlet-class>com.model.Calcabinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calcabinfo</servlet-name>
    <url-pattern>/Calcabinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoyalCalcustomerinfo</display-name>
    <servlet-name>RoyalCalcustomerinfo</servlet-name>
    <servlet-class>com.model.RoyalCalcustomerinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoyalCalcustomerinfo</servlet-name>
    <url-pattern>/RoyalCalcustomerinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Royalservelet</display-name>
    <servlet-name>Royalservelet</servlet-name>
    <servlet-class>com.model.Royalservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Royalservelet</servlet-name>
    <url-pattern>/Royalservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoyalRoomData</display-name>
    <servlet-name>RoyalRoomData</servlet-name>
    <servlet-class>com.model.RoyalRoomData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoyalRoomData</servlet-name>
    <url-pattern>/RoyalRoomData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoyalPasswordData</display-name>
    <servlet-name>RoyalPasswordData</servlet-name>
    <servlet-class>com.model.RoyalPasswordData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoyalPasswordData</servlet-name>
    <url-pattern>/RoyalPasswordData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoyalCalroomdetail</display-name>
    <servlet-name>RoyalCalroomdetail</servlet-name>
    <servlet-class>com.model.RoyalCalroomdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoyalCalroomdetail</servlet-name>
    <url-pattern>/RoyalCalroomdetail</url-pattern>
  </servlet-mapping>
</web-app>