<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ragisteration</display-name>
    <servlet-name>Ragisteration</servlet-name>
    <servlet-class>com.controllers.Ragisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ragisteration</servlet-name>
    <url-pattern>/Ragisteration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRagisteredStudent</display-name>
    <servlet-name>AdminRagisteredStudent</servlet-name>
    <servlet-class>com.controllers.AdminRagisteredStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRagisteredStudent</servlet-name>
    <url-pattern>/AdminRagisteredStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.logincontroller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.logincontroller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDetails</display-name>
    <servlet-name>AdminDetails</servlet-name>
    <servlet-class>com.admin.controllers.AdminDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetails</servlet-name>
    <url-pattern>/AdminDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonalInfo</display-name>
    <servlet-name>UpdatePersonalInfo</servlet-name>
    <servlet-class>com.controllers.UpdatePersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonalInfo</servlet-name>
    <url-pattern>/UpdatePersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnouncementsController</display-name>
    <servlet-name>AnnouncementsController</servlet-name>
    <servlet-class>com.admin.Update.Announcements.AnnouncementsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementsController</servlet-name>
    <url-pattern>/AnnouncementsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.books.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BkController</display-name>
    <servlet-name>BkController</servlet-name>
    <servlet-class>com.search.books.BkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BkController</servlet-name>
    <url-pattern>/BkController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BController</display-name>
    <servlet-name>BController</servlet-name>
    <servlet-class>com.search.books.BController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BController</servlet-name>
    <url-pattern>/BController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.student.ragisteration.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.student.profile.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PwdController</display-name>
    <servlet-name>PwdController</servlet-name>
    <servlet-class>com.student.changepassword.PwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdController</servlet-name>
    <url-pattern>/PwdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.student.subjects.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubController</display-name>
    <servlet-name>SubController</servlet-name>
    <servlet-class>com.admin.subjects.SubController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubController</servlet-name>
    <url-pattern>/SubController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetController</display-name>
    <servlet-name>ForgetController</servlet-name>
    <servlet-class>com.forget.password.ForgetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetController</servlet-name>
    <url-pattern>/ForgetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignController</display-name>
    <servlet-name>SignController</servlet-name>
    <servlet-class>com.student.signup.SignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignController</servlet-name>
    <url-pattern>/SignController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SController</display-name>
    <servlet-name>SController</servlet-name>
    <servlet-class>com.search.subjects.SController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SController</servlet-name>
    <url-pattern>/SController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PController</display-name>
    <servlet-name>PController</servlet-name>
    <servlet-class>com.admin.changepassword.PController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PController</servlet-name>
    <url-pattern>/PController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.logout.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>com.list.students.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.delete.user.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dateSheetController</display-name>
    <servlet-name>dateSheetController</servlet-name>
    <servlet-class>com.datesheet.dateSheetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dateSheetController</servlet-name>
    <url-pattern>/dateSheetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateSheetController</display-name>
    <servlet-name>DateSheetController</servlet-name>
    <servlet-class>com.datesheet.DateSheetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateSheetController</servlet-name>
    <url-pattern>/DateSheetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.profile.student.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
</web-app>