<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>makeConnection</servlet-name>
        <servlet-class>connection.makeConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>authorization.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>authorization.student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>authorization.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileAuth</servlet-name>
        <servlet-class>authorization.UpdateProfileAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageAuth</servlet-name>
        <servlet-class>authorization.SendMessageAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignAuth</servlet-name>
        <servlet-class>authorization.AssignAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialAuth</servlet-name>
        <servlet-class>authorization.MaterialAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeAuth</servlet-name>
        <servlet-class>authorization.NoticeAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAuth</servlet-name>
        <servlet-class>authorization.QuestionAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectQuestionAuth</servlet-name>
        <servlet-class>authorization.SelectQuestionAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAuth</servlet-name>
        <servlet-class>authorization.SubjectAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultCheck</servlet-name>
        <servlet-class>authorization.ResultCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectAuth</servlet-name>
        <servlet-class>authorization.AddSubjectAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>makeConnection</servlet-name>
        <url-pattern>/makeConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileAuth</servlet-name>
        <url-pattern>/UpdateProfileAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageAuth</servlet-name>
        <url-pattern>/SendMessageAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignAuth</servlet-name>
        <url-pattern>/AssignAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialAuth</servlet-name>
        <url-pattern>/MaterialAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeAuth</servlet-name>
        <url-pattern>/NoticeAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAuth</servlet-name>
        <url-pattern>/QuestionAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectQuestionAuth</servlet-name>
        <url-pattern>/SelectQuestionAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAuth</servlet-name>
        <url-pattern>/SubjectAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultCheck</servlet-name>
        <url-pattern>/ResultCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectAuth</servlet-name>
        <url-pattern>/AddSubjectAuth</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
