<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>summerschool</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>showStudents.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.hiet.HelloServlet</servlet-class>
    
  </servlet>
  <servlet>
  <description></description>
  <display-name>AuthServlet</display-name>
  <servlet-name>AuthServlet</servlet-name>
  <servlet-class>com.model.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/callme</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AuthServlet</servlet-name>
  <url-pattern>/auth</url-pattern>
  </servlet-mapping>
</web-app>